{% for product in products %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-primary">
                    <div class="card">
                        <div class="panel-heading">{{ product.name }}</div>
                        {% if product.images.first %}
                            <img class="card-img-top" src="{{ vich_uploader_asset(product.images.first, 'imageFile') | imagine_filter ('squared_thumbnail') }}" style="width:100%"  alt="{{ product.name }}">
                        {% else %}
                            <img class="card-img-top" src="https://placehold.it/150x80?text=IMAGE"  alt="{{ product.name }}">
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text">{{ product.shortDescription }}</p>
                            <p class="card-text">{{ product.price }} грн.</p>
                            <a href="{{ path('products_show', {'id': product.id}) }}" class="btn btn-info">Подробнее</a>
                            <a href="{{ path('orders_add_to_cart', {'id': product.id, 'quantity': 1}) }}"
                               class="btn btn-primary js-add-to-cart">
                                <i class="fas fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

