{% for product in products %}
<div class="container">
    <div class="col-sm-4">
        <div class="panel panel-primary">
        <div class="card">
            <div class="panel-heading">{{ product.name }}</div>
            <img class="card-img-top"<img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image" alt="{{ product.name }}">
            <div class="card-body">
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text">{{ product.price }} грн.</p>
                <a href="{{ path('products_show', {'id': product.id}) }}" class="btn btn-info">Подробнее</a>

                <a href="{{ path('orders_add_to_cart', {'id': product.id, 'quantity': 1}) }}"
                   class="btn btn-primary js-add-to-cart">
                    <i class="fas fa-cart-plus"></i></a>
            </div>
    </div>
        </div>
</div>

{% endfor %}

